etc/config/db.conf
etc/config/hypnotoad.conf
etc/config/plugin.conf
etc/config/twitter.conf
etc/sessions/*
!etc/sessions/.gitkeep
assets/assetpack.db
assets/js/.js_histories.db
assets/js/bundle.js
assets/cache/*
local/*
node_modules/*
log/*
script/hypnotoad.pid
public/images/parks/*
!public/images/parks/.gitkeep
t/for_test/park_images/*
!t/for_test/park_images/.gitkeep
.perl-version
