etc/config/db.conf
etc/config/hypnotoad.conf
etc/config/plugin.conf
etc/sessions/*
!etc/sessions/.gitkeep
assets/assetpack.db
assets/cache/*
local/*
node_modules/*
log/*
script/hypnotoad.pid
.perl-version
