
// side menu

.side-nav {
  /* park-map の 拡大縮小ボタンの z-index が 1000 */
  z-index: 1001;
  transform: none;
  -webkit-transform: none;
}

.in-side-nav {
  height: auto;
}

.in-side-nav .input-field input[type=search] {
  display: inline !important;
}

.in-side-nav i {
  color: rgba(60, 60, 60, 0.7) !important;
}

.side-nav span {
  color: rgba(222, 222, 222, 1.0);
  display: block;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  padding: 0 32px;
}

.side-nav span.title {
  font-size: 22px;
}

// side-menu vue.js animation

.fade-menu-enter-active, .fade-menu-leave-active {
  transition: left 0.1s ease;
}

.fade-menu-enter, .fade-menu-leave-to {
  left: -300px;
}

// park-map

#park-map {
  width: 100%;
  height: 500px;
}

#park-map-small {
  width: 100%;
  height: 300px;
}

.park-list {
  li {
    list-style-type: disc !important;
    margin: 5px;
  }
}

textarea {
  height: initial;
}

.original-textarea {
  border: 2px solid #9e9e9e;
  border-radius: 2px;
  padding: 15px;
  margin-top: 10px;
  transition: border 800ms 0s ease;
}

.original-textarea:focus {
  border: 2px solid #26a69a;
}

// override matelialize.css brouwser-default

select.browser-default {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPScxLjEnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZycgeG1sbnM6eGxpbms9J2h0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsnIHdpZHRoPSczNicgaGVpZ2h0PScyMCcgdmlld0JveD0nMCAwIDIwIDIwJz48cGF0aCBkPSdNMTcuNDE4IDYuMTA5YzAuMjcyLTAuMjY4IDAuNzA5LTAuMjY4IDAuOTc5IDBzMC4yNzEgMC43MDEgMCAwLjk2OWwtNy45MDggNy44M2MtMC4yNyAwLjI2OC0wLjcwNyAwLjI2OC0wLjk3OSAwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEgMC0wLjk2OXMwLjcwOS0wLjI2OCAwLjk3OSAwbDcuNDE5IDcuMTQxIDcuNDE4LTcuMTQxeicgZmlsbD0nIzQ0NDQ0NCc+PC9wYXRoPjwvc3ZnPg==);
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 36px;
  border-color: #fff #fff #666 #fff;
  height: 3.5rem;
  option {
    padding: 10px;
  }
}

// override

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.1rem;
}

strong {
  font-weight: bold;
}

.search-park-btn {
  $margin: 9px;
  width: 230px;
  margin-top: $margin;
  margin-bottom: $margin;
}

